@import "tailwindcss";
@plugin "@tailwindcss/forms";
@tailwind base;
@tailwind compontnts;
@tailwind utilities;

* {
    font-family: Poppins;
}

.faqs-h {
    font-size: 40px; 
    font-weight: 700; 
    color: #1a2f5a; 
    line-height: 1.2;
    margin: 0;
}

@layer base {
    h1 {
        @apply text-8xl font-semibold uppercase text-[#272A59]
    }
    
    h2 {
        @apply text-[1.5rem] font-[700] text-[#0c2077] leading-[1.74rem]
    }

    /*h3 {
        @apply text-3xl font-semibold text-[#000]
    }

    h4 {
        @apply text-[1.5rem] font-[700] text-[#0c2077] leading-[1.74rem]
    }*/

    p {
        @apply text-[1rem] font-[400] text-black mb-4 mt-3 leading-[1.46rem]
    }

    p2 {
        @apply text-[1.4rem] font-[400] text-black mb-3 mt-3 leading-[1.84rem]
    }

    ul{
        @apply my-[1rem] /*list-disc ml-2*/
    }
    
    li{
        /*@apply ml-[12px]*/
    }
}

